*{
  box-sizing:border-box;
}
.box{
  width: 205px;
  height: 400px;
  background-size:600px;
  /*background-image:url("http://3.bp.blogspot.com/-dzobA3UjB4w/VS5Srlni7qI/AAAAAAAATvE/Y7lodQPNiD0/s1600/upgrade%2Biphone%2Bproblem.jpg"); 
  */
  background-repeat:no-repeat;
  background-position-x:-200px;
  background-position-y:-2px;
  /*border:1px solid gray;*/
}
.lock{
  /*border:1px solid red;*/
  width: 2px;
  height: 13px;
  position:absolute;
  left:17px;
  top:66px;
  background:gray;
}
.volumeup{
  /*border:1px solid red;*/
  width: 2px;
  height: 29px;
  position:absolute;
  left:17px;
  top:97px;
  background:gray;
}
.volumedown{
  /*border:1px solid red;*/
  width: 2px;
  height: 29px;
  position:absolute;
  left:17px;
  top:132px;
  background:gray;
}
.power{
  /*border:1px solid red;*/
  width: 2px;
  height: 29px;
  position:absolute;
  left:200.5px;
  top:97px;
  background:gray;
}
.iphone{
  border:1px solid gray;
  width: 183px;
  height: 378px;
  position:absolute;
  left:18px;
  top:17px;
  border-radius:30px;
  background:rgba(96,96,96,0.1);
}
.screen1{
  /*border:1px solid red;*/
  width: 177px;
  height: 372px;
  position:absolute;
  left:21px;
  top:20px;
  border-radius:26px;
  background:black;
}
.screen2{
  /*border:1px solid red;*/
  width: 161px;
  height: 286px;
  position:absolute;
  left:29px;
  top:63px;
  background:white;
}
.lens{
  /*border:1px solid white;*/
  width: 9px;
  height: 9px;
  position:absolute;
  left:76px;
  top:37px;
  border-radius:50%;
  background:rgba(48,48,48,0.8);
}
.earpiece{
  /*border:1px solid red;*/
  width: 27px;
  height: 2px;
  position:absolute;
  left:96px;
  top:40px;
  background:rgba(96,96,96,0.5);
}
.button{
  border:1px solid rgb(128,128,128);
  width: 28px;
  height: 28px;
  position:absolute;
  left:96px;
  top:357px;
  border-radius:50%;
  background:black;
}