*{
  box-sizing:border-box;
}
html,nav,ul,li{
  margin:0;
  padding:0;
  list-style-type:none;
}
ul>li>ul{
  display:none;
}
ul>li{
  width: 100px;
  height: 60px;
  line-height:50px;
  float:left;
  text-align:center;
}
ul>li:hover>ul{
  display:block;
}
.item{
  position:relative;
  left:95px;
  top:-40px;
}
