*{
    box-sizing: border-box;
    /*border:2px solid gray;*/
}
html,body,header,footer,section,h1,h2,h3,div,img,p,a,nav,ul,li{
  margin:0;
  padding:0;
  font-family:"微軟正黑體";
}
a:link{
  color:#0B0B61;
  text-decoration:none;
}
a:visited{
  color:#0B0B66;
  text-decoration:none;
}
a:hover{
  color:blue;
}
a:active{
  color:yellow;
}
header{
  background-image:url("https://unsplash.it/1000/800/?image=700");
  width: 100%;
  height: 400px;
  color:white;
  text-align:center;
  padding-top:130px;
  background-repeat:no-repeat;
  background-size:cover;
  background-attachment:fixed;
  margin:auto;
  font-size:1.2em;
  clear:both;
}
header>h1{
  text-decoration:underline;
}
nav{
  width: 100%;
  color:black;
  position:fixed;
  background-color:white;
}
section{
    background-color:black;
}
.container{
  /*沒有必要設定width跟height了 因為CSS已經設定好放大比例 如果再設定 畫面縮放會影響排版*/
  /* border:1px solid blue; */
  margin-top:15px;
}
.thumbnail{
  /* border:5px solid green; */
  text-align:center;
}
.thumbnail>img{
  width:100%;
  border-radius:20px;
}
.description{
  /* border:1px solid red; */
  padding:10px;
}
footer{
  clear:both;
  background-color:#0B0B61;
  color:white;
  text-align:center;
  padding:20px;
}
nav>ul>li{
  float:left;
  list-style-type:none;
  padding-left:30px;
  margin:4px;
  position:relative;
}
ul>li>ul{
  list-style-type:none;
  padding:5px;
  position:absolute;
  top:25px;
  /* border:1px solid gray; */
  background-color:white;
  display:none;
}
nav>ul>li>ul>li{
  border:1px solid gray;
  white-space:nowrap;
  position:relative;
  top:-8px;
  text-align:right;
}
nav>ul>li>ul>li>ul{
  position:absolute;
  left:94px;
  top:-3px;
  white-space:nowrap;
  padding-right:5px;
  text-align:left;
}
nav>ul>li>ul>li>ul>li{
  border:1px solid gray;  
}
ul>li:hover>ul{
  display:block;
}

/*利用SCSS製作CSS迴圈*/

[class^='col-'] {
    float: left;
    /*設定左右間距*/
    padding-left: 15px;
    padding-right: 15px;
}

.col-xs-1 {
    width: calc( 100% * 1 / 12);
}

.col-xs-2 {
    width: calc( 100% * 2 / 12);
}

.col-xs-3 {
    width: calc( 100% * 3 / 12);
}

.col-xs-4 {
    width: calc( 100% * 4 / 12);
}

.col-xs-5 {
    width: calc( 100% * 5 / 12);
}

.col-xs-6 {
    width: calc( 100% * 6 / 12);
}

.col-xs-7 {
    width: calc( 100% * 7 / 12);
}

.col-xs-8 {
    width: calc( 100% * 8 / 12);
}

.col-xs-9 {
    width: calc( 100% * 9 / 12);
}

.col-xs-10 {
    width: calc( 100% * 10 / 12);
}

.col-xs-11 {
    width: calc( 100% * 11 / 12);
}

.col-xs-12 {
    width: calc( 100% * 12 / 12);
}

@media screen and (min-width: 768px) {
    .container {
        width: 750px;
    }
    .col-sm-1 {
        width: calc( 100% * 1 / 12);
    }
    .col-sm-2 {
        width: calc( 100% * 2 / 12);
    }
    .col-sm-3 {
        width: calc( 100% * 3 / 12);
    }
    .col-sm-4 {
        width: calc( 100% * 4 / 12);
    }
    .col-sm-5 {
        width: calc( 100% * 5 / 12);
    }
    .col-sm-6 {
        width: calc( 100% * 6 / 12);
    }
    .col-sm-7 {
        width: calc( 100% * 7 / 12);
    }
    .col-sm-8 {
        width: calc( 100% * 8 / 12);
    }
    .col-sm-9 {
        width: calc( 100% * 9 / 12);
    }
    .col-sm-10 {
        width: calc( 100% * 10 / 12);
    }
    .col-sm-11 {
        width: calc( 100% * 11 / 12);
    }
    .col-sm-12 {
        width: calc( 100% * 12 / 12);
    }
}

@media screen and (min-width: 992px) {
    .container {
        width: 870px;
    }
    .col-md-1 {
        width: calc( 100% * 1 / 12);
    }
    .col-md-2 {
        width: calc( 100% * 2 / 12);
    }
    .col-md-3 {
        width: calc( 100% * 3 / 12);
    }
    .col-md-4 {
        width: calc( 100% * 4 / 12);
    }
    .col-md-5 {
        width: calc( 100% * 5 / 12);
    }
    .col-md-6 {
        width: calc( 100% * 6 / 12);
    }
    .col-md-7 {
        width: calc( 100% * 7 / 12);
    }
    .col-md-8 {
        width: calc( 100% * 8 / 12);
    }
    .col-md-9 {
        width: calc( 100% * 9 / 12);
    }
    .col-md-10 {
        width: calc( 100% * 10 / 12);
    }
    .col-md-11 {
        width: calc( 100% * 11 / 12);
    }
    .col-md-12 {
        width: calc( 100% * 12 / 12);
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .col-lg-1 {
        width: calc( 100% * 1 / 12);
    }
    .col-lg-2 {
        width: calc( 100% * 2 / 12);
    }
    .col-lg-3 {
        width: calc( 100% * 3 / 12);
    }
    .col-lg-4 {
        width: calc( 100% * 4 / 12);
    }
    .col-lg-5 {
        width: calc( 100% * 5 / 12);
    }
    .col-lg-6 {
        width: calc( 100% * 6 / 12);
    }
    .col-lg-7 {
        width: calc( 100% * 7 / 12);
    }
    .col-lg-8 {
        width: calc( 100% * 8 / 12);
    }
    .col-lg-9 {
        width: calc( 100% * 9 / 12);
    }
    .col-lg-10 {
        width: calc( 100% * 10 / 12);
    }
    .col-lg-11 {
        width: calc( 100% * 11 / 12);
    }
    .col-lg-12 {
        width: calc( 100% * 12 / 12);
    }
}